body {
	margin: 0;
	overflow: hidden;
}

#viewer {
	position: absolute; 
	width: -webkit-calc(100% - 300px); /* Safari */
	width: 80%;/*calc(100% - 300px);*/
	height: 80%;
	border: 1px solid orange;
}

#debug {
	position: absolute;
	bottom: 0px;
	width: 81%;
	height: 20%;
}

#sidebar {
	position: absolute;
	/*left: -webkit-calc(100% - 298px);  Safari */
	left: 81%;/* calc(100% - 298px); */
	width: 19%; /* 298px; */
	height: 80%;
	background-color: #eee;
	overflow: auto;
}

#sidebar_btn {
	position: absolute;
	top: 80%;
	left:81%;
	bottom: 0px;
	height: 19%;
	width: 19%;
	background-color: #eee;
	overflow: auto;
}

#ta_input {
	position: absolute;
	height: 95%;
	width: 95%;	/*	cols="10" rows="10"	*/
}
